---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events?orderBy=startTime&singleEvents=true&timeMax=2020-04-20T13:31:31-07:00&timeMin=2020-04-13T13:31:31-07:00
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer GOOGLE_TOKEN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "calendar#events",
         "etag": "\"p32gahecnivjeg0g\"",
         "summary": "rerobran@gmail.com",
         "updated": "2020-04-13T19:54:20.500Z",
         "timeZone": "America/Denver",
         "accessRole": "owner",
         "defaultReminders": [
          {
           "method": "popup",
           "minutes": 30
          }
         ],
         "items": [
          {
           "kind": "calendar#event",
           "etag": "\"3173404794856000\"",
           "id": "ls2khcqrm3dp7np8ckocni1qi4_20200414T120000Z",
           "status": "confirmed",
           "htmlLink": "https://www.google.com/calendar/event?eid=bHMya2hjcXJtM2RwN25wOGNrb2NuaTFxaTRfMjAyMDA0MTRUMTIwMDAwWiByZXJvYnJhbkBt",
           "created": "2020-04-12T14:39:57.000Z",
           "updated": "2020-04-12T14:39:57.566Z",
           "summary": "Hula Hooping",
           "description": "Treat Yo Self",
           "creator": {
            "email": "rerobran@gmail.com",
            "self": true
           },
           "organizer": {
            "email": "rerobran@gmail.com",
            "self": true
           },
           "start": {
            "dateTime": "2020-04-14T06:00:00-06:00",
            "timeZone": "America/Los_Angeles"
           },
           "end": {
            "dateTime": "2020-04-14T07:00:00-06:00",
            "timeZone": "America/Los_Angeles"
           },
           "recurringEventId": "ls2khcqrm3dp7np8ckocni1qi4",
           "originalStartTime": {
            "dateTime": "2020-04-14T06:00:00-06:00",
            "timeZone": "America/Los_Angeles"
           },
           "iCalUID": "ls2khcqrm3dp7np8ckocni1qi4@google.com",
           "sequence": 0,
           "attendees": [
            {
             "email": "sbrin@example.com",
             "responseStatus": "needsAction"
            },
            {
             "email": "lpage@example.com",
             "responseStatus": "needsAction"
            }
           ],
           "reminders": {
            "useDefault": false,
            "overrides": [
             {
              "method": "email",
              "minutes": 1440
             },
             {
              "method": "popup",
              "minutes": 10
             }
            ]
           }
          },
          {
           "kind": "calendar#event",
           "etag": "\"3173524874501000\"",
           "id": "3bktnelli519bh60tcfuohn6mg",
           "status": "confirmed",
           "htmlLink": "https://www.google.com/calendar/event?eid=M2JrdG5lbGxpNTE5Ymg2MHRjZnVvaG42b[...]
- request:
    method: post
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events
    body:
      encoding: UTF-8
      string: '{"description":"Treat Yo Self","end":{"dateTime":"2020-04-17T10:00:00+00:00","timeZone":"America/Denver"},"reminders":{"overrides":[{"method":"email","minutes":1440},{"method":"popup","minutes":1440},{"method":"popup","minutes":60}],"useDefault":false},"start":{"dateTime":"2020-04-17T09:00:00+00:00","timeZone":"America/Denver"},"summary":"Treat
        Yo Self to: Meditate"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer GOOGLE_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"3173617413788000"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "calendar#event",
         "etag": "\"3173617413788000\"",
         "id": "fk7ef8f4o2l4tpmenv3ev85vd4",
         "status": "confirmed",
         "htmlLink": "https://www.google.com/calendar/event?eid=Zms3ZWY4ZjRvMmw0dHBtZW52M2V2ODV2ZDQgcmVyb2JyYW5AbQ",
         "created": "2020-04-13T20:11:46.000Z",
         "updated": "2020-04-13T20:11:46.954Z",
         "summary": "Treat Yo Self to: Meditate",
         "description": "Treat Yo Self",
         "creator": {
          "email": "rerobran@gmail.com",
          "self": true
         },
         "organizer": {
          "email": "rerobran@gmail.com",
          "self": true
         },
         "start": {
          "dateTime": "2020-04-17T03:00:00-06:00",
          "timeZone": "America/Denver"
         },
         "end": {
          "dateTime": "2020-04-17T04:00:00-06:00",
          "timeZone": "America/Denver"
         },
         "iCalUID": "fk7ef8f4o2l4tpmenv3ev85vd4@google.com",
         "sequence": 0,
         "reminders": {
          "useDefault": false,
          "overrides": [
           {
            "method": "popup",
            "minutes": 1440
           },
           {
            "method": "email",
            "minutes": 1440
           },
           {
            "method": "popup",
            "minutes": 60
           }
          ]
         }
        }
  recorded_at: Mon, 13 Apr 2020 20:11:47 GMT
recorded_with: VCR 5.1.0
