---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events?orderBy=startTime&singleEvents=true&timeMax=2020-04-14T01:31:31-07:00&timeMin=2020-04-13T13:31:31-07:00
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer GOOGLE_TOKEN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "calendar#events",
         "etag": "\"p33calbs4nfjeg0g\"",
         "summary": "rerobran@gmail.com",
         "updated": "2020-04-13T22:34:44.167Z",
         "timeZone": "America/Denver",
         "accessRole": "owner",
         "defaultReminders": [
          {
           "method": "popup",
           "minutes": 30
          }
         ],
         "items": []
        }
  recorded_at: Tue, 14 Apr 2020 00:05:12 GMT
- request:
    method: post
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events
    body:
      encoding: UTF-8
      string: '{"description":"Treat Yo Self","end":{"dateTime":"2020-04-13T19:00:00+00:00","timeZone":"America/Denver"},"reminders":{"overrides":[{"method":"email","minutes":1440},{"method":"popup","minutes":1440},{"method":"popup","minutes":60}],"useDefault":false},"start":{"dateTime":"2020-04-13T18:00:00+00:00","timeZone":"America/Denver"},"summary":"Treat
        Yo Self to: Hike"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer GOOGLE_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"3173645425955000"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "calendar#event",
         "etag": "\"3173645425955000\"",
         "id": "iavgr1udj34rvqn933h17s42os",
         "status": "confirmed",
         "htmlLink": "https://www.google.com/calendar/event?eid=aWF2Z3IxdWRqMzRydnFuOTMzaDE3czQyb3MgcmVyb2JyYW5AbQ",
         "created": "2020-04-14T00:05:12.000Z",
         "updated": "2020-04-14T00:05:13.040Z",
         "summary": "Treat Yo Self to: Hike",
         "description": "Treat Yo Self",
         "creator": {
          "email": "rerobran@gmail.com",
          "self": true
         },
         "organizer": {
          "email": "rerobran@gmail.com",
          "self": true
         },
         "start": {
          "dateTime": "2020-04-13T12:00:00-06:00",
          "timeZone": "America/Denver"
         },
         "end": {
          "dateTime": "2020-04-13T13:00:00-06:00",
          "timeZone": "America/Denver"
         },
         "iCalUID": "iavgr1udj34rvqn933h17s42os@google.com",
         "sequence": 0,
         "reminders": {
          "useDefault": false,
          "overrides": [
           {
            "method": "popup",
            "minutes": 1440
           },
           {
            "method": "email",
            "minutes": 1440
           },
           {
            "method": "popup",
            "minutes": 60
           }
          ]
         }
        }
  recorded_at: Tue, 14 Apr 2020 00:05:13 GMT
[...]
