---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events?orderBy=startTime&singleEvents=true&timeMax=2020-04-20T10:42:21-06:00&timeMin=2020-04-13T10:42:21-06:00
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer GOOGLE_TOKEN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "calendar#events",
         "etag": "\"p338av9v5sviug0g\"",
         "summary": "rerobran@gmail.com",
         "updated": "2020-04-13T16:22:18.882Z",
         "timeZone": "America/Denver",
         "accessRole": "owner",
         "defaultReminders": [
          {
           "method": "popup",
           "minutes": 30
          }
         ],
         "items": [
          {
           "kind": "calendar#event",
           "etag": "\"3173405348903000\"",
           "id": "ims6h32i55guofc8uhajf2qa6o_20200413T170000Z",
           "status": "confirmed",
           "htmlLink": "https://www.google.com/calendar/event?eid=aW1zNmgzMmk1NWd1b2ZjOHVoYWpmMnFhNm9fMjAyMDA0MTNUMTcwMDAwWiByZXJvYnJhbkBt",
           "created": "2020-04-12T14:44:34.000Z",
           "updated": "2020-04-12T14:44:34.528Z",
           "summary": "Hula Hooping",
           "description": "Treat Yo Self",
           "creator": {
            "email": "rerobran@gmail.com",
            "self": true
           },
           "organizer": {
            "email": "rerobran@gmail.com",
            "self": true
           },
           "start": {
            "dateTime": "2020-04-13T11:00:00-06:00",
            "timeZone": "America/Denver"
           },
           "end": {
            "dateTime": "2020-04-13T12:00:00-06:00",
            "timeZone": "America/Denver"
           },
           "recurringEventId": "ims6h32i55guofc8uhajf2qa6o",
           "originalStartTime": {
            "dateTime": "2020-04-13T11:00:00-06:00",
            "timeZone": "America/Denver"
           },
           "iCalUID": "ims6h32i55guofc8uhajf2qa6o@google.com",
           "sequence": 0,
           "attendees": [
            {
             "email": "sbrin@example.com",
             "responseStatus": "needsAction"
            },
            {
             "email": "lpage@example.com",
             "responseStatus": "needsAction"
            }
           ],
           "reminders": {
            "useDefault": false,
            "overrides": [
             {
              "method": "popup",
              "minutes": 10
             },
             {
              "method": "email",
              "minutes": 1440
             }
            ]
           }
          },
          {
           "kind": "calendar#event",
           "etag": "\"3173404794856000\"",
           "id": "ls2khcqrm3dp7np8ckocni1qi4_20200414T120000Z",
           "status": "confirmed",
           "htmlLink": "https://www.google.com/calendar/event?eid=bHMya2hjcXJtM2Rw[...]
[...]
- request:
    method: post
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events
    body:
      encoding: UTF-8
      string: '{"description":"Treat Yo Self","end":{"dateTime":"2020-04-13T17:00:00+00:00","timeZone":"America/Denver"},"reminders":{"overrides":[{"method":"email","minutes":1440},{"method":"popup","minutes":1440},{"method":"popup","minutes":60}],"useDefault":false},"start":{"dateTime":"2020-04-13T16:00:00+00:00","timeZone":"America/Denver"},"summary":"Treat
        Yo Self to: Hike"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer GOOGLE_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"3173592285324000"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "calendar#event",
         "etag": "\"3173592285324000\"",
         "id": "rfr7dcpsv9rpvgchdl5ljp36p4",
         "status": "confirmed",
         "htmlLink": "https://www.google.com/calendar/event?eid=cmZyN2RjcHN2OXJwdmdjaGRsNWxqcDM2cDQgcmVyb2JyYW5AbQ",
         "created": "2020-04-13T16:42:22.000Z",
         "updated": "2020-04-13T16:42:22.798Z",
         "summary": "Treat Yo Self to: Hike",
         "description": "Treat Yo Self",
         "creator": {
          "email": "rerobran@gmail.com",
          "self": true
         },
         "organizer": {
          "email": "rerobran@gmail.com",
          "self": true
         },
         "start": {
          "dateTime": "2020-04-13T10:00:00-06:00",
          "timeZone": "America/Denver"
         },
         "end": {
          "dateTime": "2020-04-13T11:00:00-06:00",
          "timeZone": "America/Denver"
         },
         "iCalUID": "rfr7dcpsv9rpvgchdl5ljp36p4@google.com",
         "sequence": 0,
         "reminders": {
          "useDefault": false,
          "overrides": [
           {
            "method": "email",
            "minutes": 1440
           },
           {
            "method": "popup",
            "minutes": 60
           },
           {
            "method": "popup",
            "minutes": 1440
           }
          ]
         }
        }
  recorded_at: Mon, 13 Apr 2020 16:42:23 GMT
recorded_with: VCR 5.1.0
