---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events?orderBy=startTime&singleEvents=true&timeMax=2020-04-14T01:31:31-07:00&timeMin=2020-04-13T13:31:31-07:00
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer GOOGLE_TOKEN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "calendar#events",
         "etag": "\"p32g8j4ucn7jeg0g\"",
         "summary": "rerobran@gmail.com",
         "updated": "2020-04-13T22:28:17.828Z",
         "timeZone": "America/Denver",
         "accessRole": "owner",
         "defaultReminders": [
          {
           "method": "popup",
           "minutes": 30
          }
         ],
         "items": []
        }
  recorded_at: Mon, 13 Apr 2020 22:34:43 GMT
- request:
    method: post
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events
    body:
      encoding: UTF-8
      string: '{"description":"Treat Yo Self","end":{"dateTime":"2020-04-13T09:00:00+00:00","timeZone":"America/Denver"},"reminders":{"overrides":[{"method":"email","minutes":1440},{"method":"popup","minutes":1440},{"method":"popup","minutes":60}],"useDefault":false},"start":{"dateTime":"2020-04-13T08:00:00+00:00","timeZone":"America/Denver"},"summary":"Treat
        Yo Self to: Hike"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer GOOGLE_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"3173634568216000"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "calendar#event",
         "etag": "\"3173634568216000\"",
         "id": "b81r37k40721sicda6ua9ne3ts",
         "status": "confirmed",
         "htmlLink": "https://www.google.com/calendar/event?eid=YjgxcjM3azQwNzIxc2ljZGE2dWE5bmUzdHMgcmVyb2JyYW5AbQ",
         "created": "2020-04-13T22:34:44.000Z",
         "updated": "2020-04-13T22:34:44.167Z",
         "summary": "Treat Yo Self to: Hike",
         "description": "Treat Yo Self",
         "creator": {
          "email": "rerobran@gmail.com",
          "self": true
         },
         "organizer": {
          "email": "rerobran@gmail.com",
          "self": true
         },
         "start": {
          "dateTime": "2020-04-13T02:00:00-06:00",
          "timeZone": "America/Denver"
         },
         "end": {
          "dateTime": "2020-04-13T03:00:00-06:00",
          "timeZone": "America/Denver"
         },
         "iCalUID": "b81r37k40721sicda6ua9ne3ts@google.com",
         "sequence": 0,
         "reminders": {
          "useDefault": false,
          "overrides": [
           {
            "method": "email",
            "minutes": 1440
           },
           {
            "method": "popup",
            "minutes": 60
           },
           {
            "method": "popup",
            "minutes": 1440
           }
          ]
         }
        }
  recorded_at: Mon, 13 Apr 2020 22:34:44 GMT
recorded_with: VCR 5.1.0
