---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events?orderBy=startTime&singleEvents=true&timeMax=2020-04-14T01:31:31-07:00&timeMin=2020-04-13T13:31:31-07:00
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer GOOGLE_TOKEN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "calendar#events",
         "etag": "\"p32099i54m7jeg0g\"",
         "summary": "rerobran@gmail.com",
         "updated": "2020-04-13T21:51:07.328Z",
         "timeZone": "America/Denver",
         "accessRole": "owner",
         "defaultReminders": [
          {
           "method": "popup",
           "minutes": 30
          }
         ],
         "items": []
        }
  recorded_at: Mon, 13 Apr 2020 22:05:33 GMT
- request:
    method: post
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events
    body:
      encoding: UTF-8
      string: '{"description":"Treat Yo Self","end":{"dateTime":"2020-04-17T20:00:00+00:00","timeZone":"America/Denver"},"reminders":{"overrides":[{"method":"email","minutes":1440},{"method":"popup","minutes":1440},{"method":"popup","minutes":60}],"useDefault":false},"start":{"dateTime":"2020-04-17T19:00:00+00:00","timeZone":"America/Denver"},"summary":"Treat
        Yo Self to: Meditate"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer GOOGLE_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"3173631067189000"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "calendar#event",
         "etag": "\"3173631067189000\"",
         "id": "kj3958vrvgqd1phjv505ijhpl8",
         "status": "confirmed",
         "htmlLink": "https://www.google.com/calendar/event?eid=a2ozOTU4dnJ2Z3FkMXBoanY1MDVpamhwbDggcmVyb2JyYW5AbQ",
         "created": "2020-04-13T22:05:33.000Z",
         "updated": "2020-04-13T22:05:33.640Z",
         "summary": "Treat Yo Self to: Meditate",
         "description": "Treat Yo Self",
         "creator": {
          "email": "rerobran@gmail.com",
          "self": true
         },
         "organizer": {
          "email": "rerobran@gmail.com",
          "self": true
         },
         "start": {
          "dateTime": "2020-04-17T13:00:00-06:00",
          "timeZone": "America/Denver"
         },
         "end": {
          "dateTime": "2020-04-17T14:00:00-06:00",
          "timeZone": "America/Denver"
         },
         "iCalUID": "kj3958vrvgqd1phjv505ijhpl8@google.com",
         "sequence": 0,
         "reminders": {
          "useDefault": false,
          "overrides": [
           {
            "method": "email",
            "minutes": 1440
           },
           {
            "method": "popup",
            "minutes": 60
           },
           {
            "method": "popup",
            "minutes": 1440
           }
          ]
         }
        }
  recorded_at: Mon, 13 Apr 2020 22:05:33 GMT
recorded_with: VCR 5.1.0
