---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events?orderBy=startTime&singleEvents=true&timeMax=2020-04-14T13:31:31-07:00&timeMin=2020-04-13T13:31:31-07:00
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer GOOGLE_TOKEN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "calendar#events",
         "etag": "\"p33kcvbdqlrkeg0g\"",
         "summary": "rerobran@gmail.com",
         "updated": "2020-04-14T16:43:47.201Z",
         "timeZone": "America/Denver",
         "accessRole": "owner",
         "defaultReminders": [
          {
           "method": "popup",
           "minutes": 30
          }
         ],
         "items": [
          {
           "kind": "calendar#event",
           "etag": "\"3173404794856000\"",
           "id": "ls2khcqrm3dp7np8ckocni1qi4_20200414T120000Z",
           "status": "confirmed",
           "htmlLink": "https://www.google.com/calendar/event?eid=bHMya2hjcXJtM2RwN25wOGNrb2NuaTFxaTRfMjAyMDA0MTRUMTIwMDAwWiByZXJvYnJhbkBt",
           "created": "2020-04-12T14:39:57.000Z",
           "updated": "2020-04-12T14:39:57.566Z",
           "summary": "Hula Hooping",
           "description": "Treat Yo Self",
           "creator": {
            "email": "rerobran@gmail.com",
            "self": true
           },
           "organizer": {
            "email": "rerobran@gmail.com",
            "self": true
           },
           "start": {
            "dateTime": "2020-04-14T06:00:00-06:00",
            "timeZone": "America/Los_Angeles"
           },
           "end": {
            "dateTime": "2020-04-14T07:00:00-06:00",
            "timeZone": "America/Los_Angeles"
           },
           "recurringEventId": "ls2khcqrm3dp7np8ckocni1qi4",
           "originalStartTime": {
            "dateTime": "2020-04-14T06:00:00-06:00",
            "timeZone": "America/Los_Angeles"
           },
           "iCalUID": "ls2khcqrm3dp7np8ckocni1qi4@google.com",
           "sequence": 0,
           "attendees": [
            {
             "email": "sbrin@example.com",
             "responseStatus": "needsAction"
            },
            {
             "email": "lpage@example.com",
             "responseStatus": "needsAction"
            }
           ],
           "reminders": {
            "useDefault": false,
            "overrides": [
             {
              "method": "popup",
              "minutes": 10
             },
             {
              "method": "email",
              "minutes": 1440
             }
            ]
           }
          },
          {
           "kind": "calendar#event",
           "etag": "\"3173499886065000\"",
           "id": "ims6h32i55guofc8uhajf2qa6o_20200414T170000Z",
           "status": "confirmed",
           "htmlLink": "https://www.google.com/calendar/event?eid=aW1zNmgzMmk1NWd1[...]
- request:
    method: post
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events
    body:
      encoding: UTF-8
      string: '{"description":"Treat Yo Self","end":{"dateTime":"2020-04-13T19:00:00+00:00","timeZone":"America/Denver"},"reminders":{"overrides":[{"method":"email","minutes":1440},{"method":"popup","minutes":1440},{"method":"popup","minutes":60}],"useDefault":false},"start":{"dateTime":"2020-04-13T18:00:00+00:00","timeZone":"America/Denver"},"summary":"Treat
        Yo Self to: Swimming"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer GOOGLE_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"3173766120241000"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "calendar#event",
         "etag": "\"3173766120241000\"",
         "id": "cfa4am4v1ib68fg9jfi5838k7o",
         "status": "confirmed",
         "htmlLink": "https://www.google.com/calendar/event?eid=Y2ZhNGFtNHYxaWI2OGZnOWpmaTU4MzhrN28gcmVyb2JyYW5AbQ",
         "created": "2020-04-14T16:51:00.000Z",
         "updated": "2020-04-14T16:51:00.165Z",
         "summary": "Treat Yo Self to: Swimming",
         "description": "Treat Yo Self",
         "creator": {
          "email": "rerobran@gmail.com",
          "self": true
         },
         "organizer": {
          "email": "rerobran@gmail.com",
          "self": true
         },
         "start": {
          "dateTime": "2020-04-13T12:00:00-06:00",
          "timeZone": "America/Denver"
         },
         "end": {
          "dateTime": "2020-04-13T13:00:00-06:00",
          "timeZone": "America/Denver"
         },
         "iCalUID": "cfa4am4v1ib68fg9jfi5838k7o@google.com",
         "sequence": 0,
         "reminders": {
          "useDefault": false,
          "overrides": [
           {
            "method": "popup",
            "minutes": 60
           },
           {
            "method": "popup",
            "minutes": 1440
           },
           {
            "method": "email",
            "minutes": 1440
           }
          ]
         }
        }
  recorded_at: Tue, 14 Apr 2020 16:51:00 GMT
[...]
