---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events?orderBy=startTime&singleEvents=true&timeMax=2020-04-20T13:31:31-07:00&timeMin=2020-04-13T13:31:31-07:00
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer GOOGLE_TOKEN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "calendar#events",
         "etag": "\"p330f9o48gvlug0g\"",
         "summary": "rerobran@gmail.com",
         "updated": "2020-04-15T18:25:33.416Z",
         "timeZone": "America/Denver",
         "accessRole": "owner",
         "defaultReminders": [
          {
           "method": "popup",
           "minutes": 30
          }
         ],
         "items": [
          {
           "kind": "calendar#event",
           "etag": "\"3173825421142000\"",
           "id": "2bm8v3dgdnmo4qajmb732f3u2g",
           "status": "confirmed",
           "htmlLink": "https://www.google.com/calendar/event?eid=MmJtOHYzZGdkbm1vNHFham1iNzMyZjN1MmcgcmVyb2JyYW5AbQ",
           "created": "2020-04-15T01:05:10.000Z",
           "updated": "2020-04-15T01:05:10.625Z",
           "summary": "Treat Yo Self to: Hike",
           "description": "Treat Yo Self",
           "creator": {
            "email": "rerobran@gmail.com",
            "self": true
           },
           "organizer": {
            "email": "rerobran@gmail.com",
            "self": true
           },
           "start": {
            "dateTime": "2020-04-14T03:00:00-06:00",
            "timeZone": "America/Denver"
           },
           "end": {
            "dateTime": "2020-04-14T04:00:00-06:00",
            "timeZone": "America/Denver"
           },
           "iCalUID": "2bm8v3dgdnmo4qajmb732f3u2g@google.com",
           "sequence": 0,
           "reminders": {
            "useDefault": false,
            "overrides": [
             {
              "method": "email",
              "minutes": 1440
             },
             {
              "method": "popup",
              "minutes": 60
             },
             {
              "method": "popup",
              "minutes": 1440
             }
            ]
           }
          },
          {
           "kind": "calendar#event",
           "etag": "\"3173945907747000\"",
           "id": "5tpch5tfv42ui059fj5vpn4v98",
           "status": "confirmed",
     [...]
- request:
    method: post
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events
    body:
      encoding: UTF-8
      string: '{"description":"Treat Yo Self","end":{"dateTime":"2020-04-17T15:00:00+00:00","timeZone":"America/Denver"},"reminders":{"overrides":[{"method":"email","minutes":1440},{"method":"popup","minutes":1440},{"method":"popup","minutes":60}],"useDefault":false},"start":{"dateTime":"2020-04-17T14:00:00+00:00","timeZone":"America/Denver"},"summary":"Treat
        Yo Self to: Swimming"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer GOOGLE_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"3173950990752000"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "calendar#event",
         "etag": "\"3173950990752000\"",
         "id": "6ugipcnnqktkrb6rm2dc8oi2d0",
         "status": "confirmed",
         "htmlLink": "https://www.google.com/calendar/event?eid=NnVnaXBjbm5xa3RrcmI2cm0yZGM4b2kyZDAgcmVyb2JyYW5AbQ",
         "created": "2020-04-15T18:31:35.000Z",
         "updated": "2020-04-15T18:31:35.429Z",
         "summary": "Treat Yo Self to: Swimming",
         "description": "Treat Yo Self",
         "creator": {
          "email": "rerobran@gmail.com",
          "self": true
         },
         "organizer": {
          "email": "rerobran@gmail.com",
          "self": true
         },
         "start": {
          "dateTime": "2020-04-17T08:00:00-06:00",
          "timeZone": "America/Denver"
         },
         "end": {
          "dateTime": "2020-04-17T09:00:00-06:00",
          "timeZone": "America/Denver"
         },
         "iCalUID": "6ugipcnnqktkrb6rm2dc8oi2d0@google.com",
         "sequence": 0,
         "reminders": {
          "useDefault": false,
          "overrides": [
           {
            "method": "popup",
            "minutes": 60
           },
           {
            "method": "email",
            "minutes": 1440
           },
           {
            "method": "popup",
            "minutes": 1440
           }
          ]
         }
        }
  recorded_at: Wed, 15 Apr 2020 18:31:35 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events
    body:
      encoding: UTF-8
      string: '{"description":"Treat Yo Self","end":{"dateTime":"2020-04-14T11:00:00+00:00","timeZone":"America/Denver"},"reminders":{"overrides":[{"method":"email","minutes":1440},{"method":"popup","minutes":1440},{"method":"popup","minutes":60}],"useDefault":false},"start":{"dateTime":"2020-04-14T10:00:00+00:00","timeZone":"America/Denver"},"summary":"Treat
        Yo Self to: Swimming"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer GOOGLE_TOKEN
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Bearer realm="https://accounts.google.com/", error=invalid_token
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "authError",
            "message": "Invalid Credentials",
            "locationType": "header",
            "location": "Authorization"
           }
          ],
          "code": 401,
          "message": "Invalid Credentials"
         }
        }
  recorded_at: Wed, 15 Apr 2020 20:36:17 GMT
[...]
