---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events?orderBy=startTime&singleEvents=true&timeMax=2020-04-20T13:31:31-07:00&timeMin=2020-04-13T13:31:31-07:00
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer GOOGLE_TOKEN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "calendar#events",
         "etag": "\"p32ocpn5oq7leg0g\"",
         "summary": "treatyoselfturing@gmail.com",
         "updated": "2020-04-15T14:25:38.494Z",
         "timeZone": "America/Denver",
         "accessRole": "owner",
         "defaultReminders": [
          {
           "method": "popup",
           "minutes": 30
          }
         ],
         "items": [
          {
           "kind": "calendar#event",
           "etag": "\"3173591513096000\"",
           "id": "q7ucno7b9g84nt6nnglrohls5o",
           "status": "confirmed",
           "htmlLink": "https://www.google.com/calendar/event?eid=cTd1Y25vN2I5Zzg0bnQ2bm5nbHJvaGxzNW8gdHJlYXR5b3NlbGZ0dXJpbmdAbQ",
           "created": "2020-04-13T16:35:50.000Z",
           "updated": "2020-04-13T16:35:56.548Z",
           "summary": "Student Meetings  (Rebecca Robran)",
           "description": "I would like to talk about places to start looking for contract work and what that process looks like.",
           "creator": {
            "email": "ryan@casimircreative.com"
           },
           "organizer": {
            "email": "ryan@casimircreative.com"
           },
           "start": {
            "dateTime": "2020-04-16T15:00:00-06:00"
           },
           "end": {
            "dateTime": "2020-04-16T15:30:00-06:00"
           },
           "iCalUID": "q7ucno7b9g84nt6nnglrohls5o@google.com",
           "sequence": 0,
           "attendees": [
            {
             "email": "ryan@casimircreative.com",
             "organizer": true,
             "responseStatus": "accepted"
            },
            {
             "email": "treatyoselfturing@gmail.com",
             "self": true,
             "responseStatus": "accepted"
            }
           ],
           "hangoutLink": "https://meet.google.com/sfx-jvrm-nzu",
           "conferenceData": {
            "createRequest": {
             "requestId": "v9405jvmost10kpnt9o0il4fs8",
             "conferenceSolutionKey": {
              "type": "hangoutsMeet"
             },
             "status": {
              "statusCode": "success"
             }
            },
            "entryPoints": [
             {
              "entryPointType": "video",
              "uri": "https://meet.google.com/sfx-jvrm-nzu",
              "label": "meet.google.com/sfx-jvrm-nzu"
             },
             {
              "entryPointType": "more",
              "uri": "https://tel.meet/sfx-jvrm-nzu?pin=3072890535792",
              "pin": "3072890535792"
             },
             {
              "regionCode": "US",
              "entryPointType": "phone",
              "uri": "tel:+1-971-301-2430",
              "label": "+1 971-301-2430",
              "pin": "413720726"
             }
            ],
            "conferenceSolution": {
             "key": {
              "type": "hangoutsMeet"
             },
             "name": "Hangouts Meet",
             "iconUri": "https://lh5.googleusercontent.com/proxy/bWvYBOb7O03a7HK5iKNEAPoUNPEXH1CHZjuOkiqxHx8OtyVn9sZ6Ktl8hfqBNQUUbCDg6T2unnsHx7RSkCyhrKgHcdoosAW8POQJm_ZEvZU9ZfAE7mZIBGr_tDlF8Z_rSzXcjTffVXg3M46v"
            },
            "conferenceId": "sfx-jvrm-nzu",
            "signature": "ADR/mfP74d03O15GI0r2vs2pg7dt"
           },
           "reminders": {
            "useDefault": true
           }
          },
          {
           "kind": "calendar#event",
           "etag": "\"3173921474104000\"",
           "id": "7nb2i6op3fq9bvo3024asp3jk8",
           "status": "confirmed",
           "htmlLink": "https://www.google.com/calendar/event?eid=N25iMmk2b3AzZnE5YnZvMzAyNGFzcDNqazggdHJlYXR5b3NlbGZ0dXJpbmdAbQ",
           "created": "2020-04-15T14:25:36.000Z",
           "updated": "2020-04-15T14:25:37.210Z",
           "summary": "Yoga",
           "description": "Treat Yo Self",
           "creator": {
            "email": "treatyoselfturing@gmail.com",
            "self": true
           },
           "organizer": {
            "email": "treatyoselfturing@gmail.com",
            "self": true
           },
           "start": {
            "dateTime": "2020-04-17T10:00:00-06:00",
            "timeZone": "America/Denver"
           },
           "end": {
            "dateTime": "2020-04-17T11:00:00-06:00",
            "timeZone": "America/Denver"
           },
           "iCalUID": "7nb2i6op3fq9bvo3024asp3jk8@google.com",
           "sequence": 0,
           "reminders": {
            "useDefault": false,
            "overrides": [
             {
              "method": "popup",
              "minutes": 60
             },
             {
              "method": "popup",
              "minutes": 1440
             },
             {
              "method": "email",
              "minutes": 1440
             }
            ]
           }
          },
          {
           "kind": "calendar#event",
           "etag": "\"3173921476754000\"",
           "id": "oe4uiac00g0jkcq15c8iak96jo",
           "status": "confirmed",
     [...]
- request:
    method: post
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events
    body:
      encoding: UTF-8
      string: '{"description":"Treat Yo Self","end":{"dateTime":"2020-04-12T11:00:00+00:00","timeZone":"America/Denver"},"reminders":{"overrides":[{"method":"email","minutes":1440},{"method":"popup","minutes":1440},{"method":"popup","minutes":60}],"useDefault":false},"start":{"dateTime":"2020-04-12T10:00:00+00:00","timeZone":"America/Denver"},"summary":"Yoga"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer GOOGLE_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"3173922408110000"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "calendar#event",
         "etag": "\"3173922408110000\"",
         "id": "vn3m8qgq1bph957p6qjka37b2k",
         "status": "confirmed",
         "htmlLink": "https://www.google.com/calendar/event?eid=dm4zbThxZ3ExYnBoOTU3cDZxamthMzdiMmsgdHJlYXR5b3NlbGZ0dXJpbmdAbQ",
         "created": "2020-04-15T14:33:23.000Z",
         "updated": "2[...]
[...]
