---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events?orderBy=startTime&singleEvents=true&timeMax=2020-04-20T13:31:31-07:00&timeMin=2020-04-13T13:31:31-07:00
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer GOOGLE_TOKEN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "calendar#events",
         "etag": "\"p320ejgtrk7lug0g\"",
         "summary": "tyladevon@gmail.com",
         "updated": "2020-04-15T20:23:39.216Z",
         "timeZone": "America/Denver",
         "accessRole": "owner",
         "defaultReminders": [
          {
           "method": "popup",
           "minutes": 30
          }
         ],
         "items": [
          {
           "kind": "calendar#event",
           "etag": "\"3169350920812000\"",
           "id": "57nfi5bhl1bcdmc7sj51qmgm6d",
           "status": "confirmed",
           "htmlLink": "https://www.google.com/calendar/event?eid=NTduZmk1YmhsMWJjZG1jN3NqNTFxbWdtNmQgdHlsYWRldm9uQG0",
           "created": "2020-03-13T01:51:50.000Z",
           "updated": "2020-03-20T03:37:40.406Z",
           "summary": "BVSD school cancelled due to virus",
           "colorId": "5",
           "creator": {
            "email": "tyladevon@gmail.com",
            "self": true
           },
           "organizer": {
            "email": "tyladevon@gmail.com",
            "self": true
           },
           "start": {
            "date": "2020-03-13"
           },
           "end": {
            "date": "2020-04-18"
           },
           "transparency": "transparent",
           "iCalUID": "57nfi5bhl1bcdmc7sj51qmgm6d@google.com",
           "sequence": 0,
           "reminders": {
            "useDefault": false
           }
          },
          {
           "kind": "calendar#event",
           "etag": "\"3173733937150000\"",
           "id": "7kj9ks60evl2kctk6v8pqhrhj9",
           "status": "confirmed",
           "htmlLink": "https://www.google.com/calendar/event?eid=N2tqOWtzNjBldmwya2N0azZ2OHBxaHJoajkgdHlsYWRldm9uQG0",
           "created": "2020-04-14T12:22:48.000Z",
           "updated": "2020-04-14T12:22:48.575Z",
           "summary": "Practice interview questions/Twitter",
           "creator": {
            "email": "tyladevon@gmail.com",
            "self": true
           },
           "organizer": {
            "email": "tyladevon@gmail.com",
            "self": true
           },
           "start": {
            "dateTime": "2020-04-13T20:00:00-06:00"
           },
           "end": {
            "dateTime": "2020-04-13T21:00:00-06:00"
           },
           "iCalUID": "7kj9ks60evl2kctk6v8pqhrhj9@google.com",
           "sequence": 0,
           "reminders": {
            "useDefault": true
           }
          },
          {
           "kind": "calendar#event",
           "etag": "\"3173741974370000\"",
           "id": "44t3f507cdrjrqjgmvlgko2174",
           "status": "confirmed",
           "htmlLink": "ht[...]
- request:
    method: post
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events
    body:
      encoding: UTF-8
      string: '{"description":"Treat Yo Self","end":{"dateTime":"2020-04-14T13:00:00+00:00","timeZone":"America/Denver"},"reminders":{"overrides":[{"method":"email","minutes":1440},{"method":"popup","minutes":1440},{"method":"popup","minutes":60}],"useDefault":false},"start":{"dateTime":"2020-04-14T12:00:00+00:00","timeZone":"America/Denver"},"summary":"Treat
        Yo Self to: Yoga"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer GOOGLE_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"3173964756997000"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "calendar#event",
         "etag": "\"3173964756997000\"",
         "id": "ps37htru3fdb1mme6qigsk1fls",
         "status": "confirmed",
         "htmlLink": "https://www.google.com/calendar/event?eid=cHMzN2h0cnUzZmRiMW1tZTZxaWdzazFmbHMgdHlsYWRldm9uQG0",
         "created": "2020-04-15T20:26:18.000Z",
         "updated": "2020-04-15T20:26:18.577Z",
         "summary": "Treat Yo Self to: Yoga",
         "description": "Treat Yo Self",
         "creator": {
          "email": "tyladevon@gmail.com",
          "self": true
         },
         "organizer": {
          "email": "tyladevon@gmail.com",
          "self": true
         },
         "start": {
          "dateTime": "2020-04-14T06:00:00-06:00",
          "timeZone": "America/Denver"
         },
         "end": {
          "dateTime": "2020-04-14T07:00:00-06:00",
          "timeZone": "America/Denver"
         },
         "iCalUID": "ps37htru3fdb1mme6qigsk1fls@google.com",
         "sequence": 0,
         "reminders": {
          "useDefault": false,
          "overrides": [
           {
            "method": "popup",
            "minutes": 60
           },
           {
            "method": "email",
            "minutes": 1440
           },
           {
            "method": "popup",
            "minutes": 1440
           }
          ]
         }
        }
  recorded_at: Wed, 15 Apr 2020 20:26:18 GMT
[...]
