---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events?orderBy=startTime&singleEvents=true&timeMax=2020-04-20T13:31:31-07:00&timeMin=2020-04-13T13:31:31-07:00
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer GOOGLE_TOKEN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "calendar#events",
         "etag": "\"p324f7e4ur3kug0g\"",
         "summary": "lauren.steitle@gmail.com",
         "updated": "2020-04-15T05:23:22.693Z",
         "timeZone": "America/Denver",
         "accessRole": "owner",
         "defaultReminders": [
          {
           "method": "popup",
           "minutes": 10
          }
         ],
         "items": [
          {
           "kind": "calendar#event",
           "etag": "\"3141742282514000\"",
           "id": "_851kaghl7513gb9p6p2j2b9k691jab9p84rk4b9l691kad2264o44c258k_20200414T130000Z",
           "status": "confirmed",
           "htmlLink": "https://www.google.com/calendar/event?eid=Xzg1MWthZ2hsNzUxM2diOXA2cDJqMmI5azY5MWphYjlwODRyazRiOWw2OTFrYWQyMjY0bzQ0YzI1OGtfMjAyMDA0MTRUMTMwMDAwWiBsYXVyZW4uc3RlaXRsZUBt",
           "created": "2019-08-05T15:17:20.000Z",
           "updated": "2019-10-21T15:58:48.516Z",
           "summary": "Work Communitas",
           "creator": {
            "email": "lauren.steitle@gmail.com",
            "self": true
           },
           "organizer": {
            "email": "lauren.steitle@gmail.com",
            "self": true
           },
           "start": {
            "dateTime": "2020-04-14T07:00:00-06:00",
            "timeZone": "America/Denver"
           },
           "end": {
            "dateTime": "2020-04-14T07:30:00-06:00",
            "timeZone": "America/Denver"
           },
           "recurringEventId": "_851kaghl7513gb9p6p2j2b9k691jab9p84rk4b9l691kad2264o44c258k_R20191003T130000",
           "originalStartTime": {
            "dateTime": "2020-04-14T07:00:00-06:00",
            "timeZone": "America/Denver"
           },
           "iCalUID": "_851kaghl7513gb9p6p2j2b9k691jab9p84rk4b9l691kad2264o44c258k_R20191003T130000@google.com",
           "sequence": 0,
           "reminders": {
            "useDefault": false
           }
          },
          {
           "kind": "calendar#event",
           "etag": "\"3173767764946000\"",
           "id": "_60q30c1g60o30e1i60o4ac1g60rj8gpl88rj2c1h84s34h9g60s30c1g60o30c1g70o44chl68qj8chj61248dhg64o30c1g60o30c1g60o30c1g60o32c1g60o30c1g64rj4gq570o46h9j8oo3gc9k60s4ada16sqjichh7523cchj8gq0",
           "status": "confirmed",
           "htmlLink": "https://www.google.com/calendar/event?eid=XzYwcTMwYzFnNjBvMzBlMWk2MG80YWMxZzYwcmo4Z3BsODhyajJjMWg4NHMzNGg5ZzYwczMwYzFnNjBvMzBjMWc3MG80NGNobDY4cWo4Y2hqNjEyNDhkaGc2NG8zMGMxZzYwbzMwYzFnNjBvMzBjMWc2MG8zMmMxZzYwbzMwYzFnNjRyajRncTU3MG80Nmg5ajhvbzNnYzlrNjBzNGFkYTE2c3FqaWNoaDc1MjNjY2hqOGdxMCBsYXVyZW4uc3RlaXRsZUBt",
           "created": "2020-04-14T17:04:30.000Z",
           "updated": "2020-04-14T17:04:42.473Z",
           "summary": "WITI Meetup: Mental Health in Isolation",
           "description": "Hope to see you at 4pm today!\n\n\nJoin us on Tuesday, April 14th, at 4pm for the next installment of our virtual Meetup series!\n\nLicensed Professional Counselor, Briana Hutchinson, will be speaking on Mental Health while in this period of isolation.\n\n\n\nWhether you're personally struggling or someone you know is, we'll have an honest conversation about mental health during isolation.  Working remotely can cause people to feel isolated, making it more important than ever to check in on fa[...]
[...]
- request:
    method: post
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events
    body:
      encoding: UTF-8
      string: '{"description":"Treat Yo Self","end":{"dateTime":"2020-04-15T17:00:00+00:00","timeZone":"America/Denver"},"reminders":{"overrides":[{"method":"email","minutes":1440},{"method":"popup","minutes":1440},{"method":"popup","minutes":60}],"useDefault":false},"start":{"dateTime":"2020-04-15T16:00:00+00:00","timeZone":"America/Denver"},"summary":"Meditate"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer GOOGLE_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"3173938205243000"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "calendar#event",
         "etag": "\"3173938205243000\"",
         "id": "1lmnjp4uhidfqt5o6qcje4admc",
         "status": "confirmed",
         "htmlLink": "https://www.google.com/calendar/event?eid=MWxtbmpwNHVoaWRmcXQ1bzZxY2plNGFkbWMgbGF1cmVuLnN0ZWl0bGVAbQ",
         "created": "2020-04-15T16:45:02.000Z",
         "updated": "2020-04-15T16:45:02.719Z",
         "summary": "Meditate",
         "description": "Treat Yo Self",
         "creator": {
          "email": "lauren.steitle@gmail.com",
          "self": true
         },
         "organizer": {
          "email": "lauren.steitle@gmail.com",
          "self": true
         },
         "start": {
          "dateTime": "2020-04-15T10:00:00-06:00",
          "timeZone": "America/Denver"
         },
         "end": {
          "dateTime": "2020-04-15T11:00:00-06:00",
          "timeZone": "America/Denver"
         },
         "iCalUID": "1lmnjp4uhidfqt5o6qcje4admc@google.com",
         "sequence": 0,
         "reminders": {
          "useDefault": false,
          "overrides": [
           {
            "method": "popup",
            "minutes": 60
           },
           {
            "method": "email",
            "minutes": 1440
           },
           {
            "method": "popup",
            "minutes": 1440
           }
          ]
         }
        }
  recorded_at: Wed, 15 Apr 2020 16:45:02 GMT
[...]
