---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events?orderBy=startTime&singleEvents=true&timeMax=2020-04-26T19:22:25-06:00&timeMin=2020-04-19T19:22:25-06:00
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.a0Ae4lvC3rRm4Q45HeVURBtHSm3M_K5aRQ_ttJlEH8DUGlvLzvL4iIurMUOznjdsc-Kq522cFuKMLzuDJoYAN8airVqTFz5e-LHq1hMmww2Z3IUrA_WH0qxnI5k8hTA7z3-FMpMszTY10sMIwIj8of6_e1ujYqIzFLX9M
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "calendar#events",
         "etag": "\"p32o8n6l6p7qug0g\"",
         "summary": "treatyoselfturing@gmail.com",
         "updated": "2020-04-19T22:48:29.294Z",
         "timeZone": "America/Denver",
         "accessRole": "owner",
         "defaultReminders": [
          {
           "method": "popup",
           "minutes": 30
          }
         ],
         "items": [
          {
           "kind": "calendar#event",
           "etag": "\"3174639739591000\"",
           "id": "qocmcidgsglgq96e8jk87hi3bo",
           "status": "confirmed",
           "htmlLink": "https://www.google.com/calendar/event?eid=cW9jbWNpZGdzZ2xncTk2ZThqazg3aGkzYm8gdHJlYXR5b3NlbGZ0dXJpbmdAbQ",
           "created": "2020-04-19T18:11:09.000Z",
           "updated": "2020-04-19T18:11:09.920Z",
           "summary": "Swimming",
           "description": "Treat Yo Self",
           "creator": {
            "email": "treatyoselfturing@gmail.com",
            "self": true
           },
           "organizer": {
            "email": "treatyoselfturing@gmail.com",
            "self": true
           },
           "start": {
            "dateTime": "2020-04-20T08:00:00-06:00",
            "timeZone": "America/Denver"
           },
           "end": {
            "dateTime": "2020-04-20T09:00:00-06:00",
            "timeZone": "America/Denver"
           },
           "iCalUID": "qocmcidgsglgq96e8jk87hi3bo@google.com",
           "sequence": 0,
           "reminders": {
            "useDefault": false,
            "overrides": [
             {
              "method": "popup",
              "minutes": 1440
             },
             {
              "method": "popup",
              "minutes": 60
             }
            ]
           }
          },
          {
           "kind": "calendar#event",
           "etag": "\"3174673017189000\"",
           "id": "8fpheus3jj302tm7stqhbqi7p8",
           "status": "confirmed",
           "htmlLink": "https://www.google.com/calendar/event?eid=OGZwaGV1czNqajMwMnRtN3N0cWhicWk3c[...]
- request:
    method: post
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events
    body:
      encoding: UTF-8
      string: '{"description":"Treat Yo Self","end":{"dateTime":"2020-04-21T14:01:00-06:00","timeZone":"America/Denver"},"reminders":{"overrides":[{"method":"email","minutes":1440},{"method":"popup","minutes":1440},{"method":"popup","minutes":60}],"useDefault":false},"start":{"dateTime":"2020-04-21T14:00:00-06:00","timeZone":"America/Denver"},"summary":"Treat
        Yo Self to: Hike"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer ya29.a0Ae4lvC3rRm4Q45HeVURBtHSm3M_K5aRQ_ttJlEH8DUGlvLzvL4iIurMUOznjdsc-Kq522cFuKMLzuDJoYAN8airVqTFz5e-LHq1hMmww2Z3IUrA_WH0qxnI5k8hTA7z3-FMpMszTY10sMIwIj8of6_e1ujYqIzFLX9M
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"3174691491806000"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "calendar#event",
         "etag": "\"3174691491806000\"",
         "id": "kush5qfeqrtojlil56qq8t5vk8",
         "status": "confirmed",
         "htmlLink": "https://www.google.com/calendar/event?eid=a3VzaDVxZmVxcnRvamxpbDU2cXE4dDV2azggdHJlYXR5b3NlbGZ0dXJpbmdAbQ",
         "created": "2020-04-20T01:22:25.000Z",
         "updated": "2[...]
