---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events?orderBy=startTime&singleEvents=true&timeMax=2020-04-20T13:31:31-07:00&timeMin=2020-04-13T13:31:31-07:00
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.a0Ae4lvC2sfUMNkpqli--05ZSg-spM30LrVCiZeUVn8T9ImVXCr7QZQaEIA50Lxk_XFkl3klVAbswLQ939IYhQ8Y_pLqFW5x1mhCJzEO_8wdDiY_nThMT1hbaJEkbmZ8Ebn7Rbn2DZT4DK4FmF5wHF2sl3DuRgyXZA0P8
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "calendar#events",
         "etag": "\"p330cfdutrbmug0g\"",
         "summary": "rerobran@gmail.com",
         "updated": "2020-04-16T19:45:10.616Z",
         "timeZone": "America/Denver",
         "accessRole": "owner",
         "defaultReminders": [
          {
           "method": "popup",
           "minutes": 30
          }
         ],
         "items": [
          {
           "kind": "calendar#event",
           "etag": "\"3173989117425000\"",
           "id": "9b22ptojkn1hv0n8g4s1ju8jss",
           "status": "confirmed",
           "htmlLink": "https://www.google.com/calendar/event?eid=OWIyMnB0b2prbjFodjBuOGc0czFqdThqc3MgcmVyb2JyYW5AbQ",
           "created": "2020-04-15T23:49:18.000Z",
           "updated": "2020-04-15T23:49:18.755Z",
           "summary": "Treat Yo Self to: Swimming",
           "description": "Treat Yo Self",
           "creator": {
            "email": "rerobran@gmail.com",
            "self": true
           },
           "organizer": {
            "email": "rerobran@gmail.com",
            "self": true
           },
           "start": {
            "dateTime": "2020-04-14T02:00:00-06:00",
            "timeZone": "America/Denver"
           },
           "end": {
            "dateTime": "2020-04-14T03:00:00-06:00",
            "timeZone": "America/Denver"
           },
           "iCalUID": "9b22ptojkn1hv0n8g4s1ju8jss@google.com",
           "sequence": 0,
           "reminders": {
            "useDefault": false,
            "overrides": [
             {
              "method": "popup",
              "minutes": 60
             },
             {
              "method": "email",
              "minutes": 1440
             },
             {
              "method": "popup",
              "minutes": 1440
             }
            ]
           }
          },
          {
           "kind": "calendar#event",
           "etag": "\"3173825421142000\"",
           "id": "2bm8v3dgdnmo4qajmb732f3u2g",
           "status": "confirmed",
     [...]
[...]
- request:
    method: post
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events
    body:
      encoding: UTF-8
      string: '{"description":"Treat Yo Self","end":{"dateTime":"2020-04-13T13:00:00+00:00"},"reminders":{"overrides":[{"method":"email","minutes":1440},{"method":"popup","minutes":1440},{"method":"popup","minutes":60}],"useDefault":false},"start":{"dateTime":"2020-04-13T12:00:00+00:00"},"summary":"Treat
        Yo Self to: Yoga"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer ya29.a0Ae4lvC2sfUMNkpqli--05ZSg-spM30LrVCiZeUVn8T9ImVXCr7QZQaEIA50Lxk_XFkl3klVAbswLQ939IYhQ8Y_pLqFW5x1mhCJzEO_8wdDiY_nThMT1hbaJEkbmZ8Ebn7Rbn2DZT4DK4FmF5wHF2sl3DuRgyXZA0P8
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"3174132899321000"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "calendar#event",
         "etag": "\"3174132899321000\"",
         "id": "kgnijutk9qi49sa073kr20vpok",
         "status": "confirmed",
         "htmlLink": "https://www.google.com/calendar/event?eid=a2duaWp1dGs5cWk0OXNhMDcza3IyMHZwb2sgcmVyb2JyYW5AbQ",
         "created": "2020-04-16T19:47:29.000Z",
         "updated": "2020-04-16T19:47:29.709Z",
         "summary": "Treat Yo Self to: Yoga",
         "description": "Treat Yo Self",
         "creator": {
          "email": "rerobran@gmail.com",
          "self": true
         },
         "organizer": {
          "email": "rerobran@gmail.com",
          "self": true
         },
         "start": {
          "dateTime": "2020-04-13T06:00:00-06:00"
         },
         "end": {
          "dateTime": "2020-04-13T07:00:00-06:00"
         },
         "iCalUID": "kgnijutk9qi49sa073kr20vpok@google.com",
         "sequence": 0,
         "reminders": {
          "useDefault": false,
          "overrides": [
           {
            "method": "popup",
            "minutes": 60
           },
           {
            "method": "email",
            "minutes": 1440
           },
           {
            "method": "popup",
            "minutes": 1440
           }
          ]
         }
        }
  recorded_at: Thu, 16 Apr 2020 19:47:29 GMT
[...]
