---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events?orderBy=startTime&singleEvents=true&timeMax=2020-04-20T13:31:31-07:00&timeMin=2020-04-13T13:31:31-07:00
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer GOOGLE_TOKEN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "calendar#events",
         "etag": "\"p330c5eeos3leg0g\"",
         "summary": "treatyoselfturing@gmail.com",
         "updated": "2020-04-15T15:33:51.560Z",
         "timeZone": "America/Denver",
         "accessRole": "owner",
         "defaultReminders": [
          {
           "method": "popup",
           "minutes": 30
          }
         ],
         "items": [
          {
           "kind": "calendar#event",
           "etag": "\"3173922410566000\"",
           "id": "86n9jo4rdc4mcgo94p3m9lq1qs",
           "status": "confirmed",
           "htmlLink": "https://www.google.com/calendar/event?eid=ODZuOWpvNHJkYzRtY2dvOTRwM205bHExcXMgdHJlYXR5b3NlbGZ0dXJpbmdAbQ",
           "created": "2020-04-15T14:33:25.000Z",
           "updated": "2020-04-15T14:33:25.414Z",
           "summary": "Swimming",
           "description": "Treat Yo Self",
           "creator": {
            "email": "treatyoselfturing@gmail.com",
            "self": true
           },
           "organizer": {
            "email": "treatyoselfturing@gmail.com",
            "self": true
           },
           "start": {
            "dateTime": "2020-04-14T02:00:00-06:00",
            "timeZone": "America/Denver"
           },
           "end": {
            "dateTime": "2020-04-14T03:00:00-06:00",
            "timeZone": "America/Denver"
           },
           "iCalUID": "86n9jo4rdc4mcgo94p3m9lq1qs@google.com",
           "sequence": 0,
           "reminders": {
            "useDefault": false,
            "overrides": [
             {
              "method": "email",
              "minutes": 1440
             },
             {
              "method": "popup",
              "minutes": 60
             },
             {
              "method": "popup",
              "minutes": 1440
             }
            ]
           }
          },
          {
           "kind": "calendar#event",
           "etag": "\"3173928974377000\"",
           "id": "39hqe5ge39vc9pdd34ioar2gsk",
           "status": "confirmed",
     [...]
- request:
    method: post
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events
    body:
      encoding: UTF-8
      string: '{"description":"Treat Yo Self","end":{"dateTime":"2020-04-12T13:00:00+00:00","timeZone":"America/Denver"},"reminders":{"overrides":[{"method":"email","minutes":1440},{"method":"popup","minutes":1440},{"method":"popup","minutes":60}],"useDefault":false},"start":{"dateTime":"2020-04-12T12:00:00+00:00","timeZone":"America/Denver"},"summary":"Hike"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer GOOGLE_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"3173930682381000"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "calendar#event",
         "etag": "\"3173930682381000\"",
         "id": "dv5jb1768gnfk33qdtbtvs76sk",
         "status": "confirmed",
         "htmlLink": "https://www.google.com/calendar/event?eid=ZHY1amIxNzY4Z25mazMzcWR0YnR2czc2c2sgdHJlYXR5b3NlbGZ0dXJpbmdAbQ",
         "created": "2020-04-15T15:42:21.000Z",
         "updated": "2[...]
[...]
