---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events?orderBy=startTime&singleEvents=true&timeMax=2020-04-20T13:31:31-07:00&timeMin=2020-04-13T13:31:31-07:00
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.a0Ae4lvC30itfa4gdSXjxjUA3DlgKtAnVQJca7GSZ7lX_G7ow_aK1_WJ4VgPhxWmWU79mWOHVUBYUiqR1guIPEp1fN1EPy_cxYaHyr-JW-DA6i5J01h836Q-OsVnm27meWEDnUxmM1D8R_s8hq4ob0UUBDTY_Vk6w1U0s
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "calendar#events",
         "etag": "\"p32sdl6ngsjlug0g\"",
         "summary": "treatyoselfturing@gmail.com",
         "updated": "2020-04-16T01:25:14.867Z",
         "timeZone": "America/Denver",
         "accessRole": "owner",
         "defaultReminders": [
          {
           "method": "popup",
           "minutes": 30
          }
         ],
         "items": [
          {
           "kind": "calendar#event",
           "etag": "\"3173922410566000\"",
           "id": "86n9jo4rdc4mcgo94p3m9lq1qs",
           "status": "confirmed",
           "htmlLink": "https://www.google.com/calendar/event?eid=ODZuOWpvNHJkYzRtY2dvOTRwM205bHExcXMgdHJlYXR5b3NlbGZ0dXJpbmdAbQ",
           "created": "2020-04-15T14:33:25.000Z",
           "updated": "2020-04-15T14:33:25.414Z",
           "summary": "Swimming",
           "description": "Treat Yo Self",
           "creator": {
            "email": "treatyoselfturing@gmail.com",
            "self": true
           },
           "organizer": {
            "email": "treatyoselfturing@gmail.com",
            "self": true
           },
           "start": {
            "dateTime": "2020-04-14T02:00:00-06:00",
            "timeZone": "America/Denver"
           },
           "end": {
            "dateTime": "2020-04-14T03:00:00-06:00",
            "timeZone": "America/Denver"
           },
           "iCalUID": "86n9jo4rdc4mcgo94p3m9lq1qs@google.com",
           "sequence": 0,
           "reminders": {
            "useDefault": false,
            "overrides": [
             {
              "method": "popup",
              "minutes": 60
             },
             {
              "method": "email",
              "minutes": 1440
             },
             {
              "method": "popup",
              "minutes": 1440
             }
            ]
           }
          },
          {
           "kind": "calendar#event",
           "etag": "\"3173999274046000\"",
           "id": "n1b31elfof5q3csgfpikil0iho",
           "status": "confirmed",
     [...]
- request:
    method: post
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events
    body:
      encoding: UTF-8
      string: '{"description":"Treat Yo Self","end":{"dateTime":"2020-04-13T10:00:00+00:00","timeZone":"America/Denver"},"reminders":{"overrides":[{"method":"email","minutes":1440},{"method":"popup","minutes":1440},{"method":"popup","minutes":60}],"useDefault":false},"start":{"dateTime":"2020-04-13T09:00:00+00:00","timeZone":"America/Denver"},"summary":"Treat
        Yo Self to: Hike"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer ya29.a0Ae4lvC30itfa4gdSXjxjUA3DlgKtAnVQJca7GSZ7lX_G7ow_aK1_WJ4VgPhxWmWU79mWOHVUBYUiqR1guIPEp1fN1EPy_cxYaHyr-JW-DA6i5J01h836Q-OsVnm27meWEDnUxmM1D8R_s8hq4ob0UUBDTY_Vk6w1U0s
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"3174003159535000"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "calendar#event",
         "etag": "\"3174003159535000\"",
         "id": "1d6fikpjq2m1nd2omphdi3bnrc",
         "status": "confirmed",
         "htmlLink": "https://www.google.com/calendar/event?eid=MWQ2ZmlrcGpxMm0xbmQyb21waGRpM2JucmMgdHJlYXR5b3NlbGZ0dXJpbmdAbQ",
         "created": "2020-04-16T01:46:19.000Z",
         "updated": "2[...]
[...]
