---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events?orderBy=startTime&singleEvents=true&timeMax=2020-04-20T13:31:31-07:00&timeMin=2020-04-13T13:31:31-07:00
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer GOOGLE_TOKEN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "calendar#events",
         "etag": "\"p32sd1rspq7jug0g\"",
         "summary": "dascsg@gmail.com",
         "updated": "2020-04-14T09:46:34.579Z",
         "timeZone": "UTC",
         "accessRole": "owner",
         "defaultReminders": [
          {
           "method": "popup",
           "minutes": 30
          }
         ],
         "items": []
        }
  recorded_at: Wed, 15 Apr 2020 16:31:49 GMT
- request:
    method: post
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events
    body:
      encoding: UTF-8
      string: '{"description":"Treat Yo Self","end":{"dateTime":"2020-04-13T09:00:00+00:00","timeZone":"America/Denver"},"reminders":{"overrides":[{"method":"email","minutes":1440},{"method":"popup","minutes":1440},{"method":"popup","minutes":60}],"useDefault":false},"start":{"dateTime":"2020-04-13T08:00:00+00:00","timeZone":"America/Denver"},"summary":"Hike"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer GOOGLE_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"3173936619813000"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "calendar#event",
         "etag": "\"3173936619813000\"",
         "id": "cat7g1fi55b75j5ml987nehtrs",
         "status": "confirmed",
         "htmlLink": "https://www.google.com/calendar/event?eid=Y2F0N2cxZmk1NWI3NWo1bWw5ODduZWh0cnMgZGFzY3NnQG0",
         "created": "2020-04-15T16:31:49.000Z",
         "updated": "2020-04-15T16:31:49.967Z",
         "summary": "Hike",
         "description": "Treat Yo Self",
         "creator": {
          "email": "dascsg@gmail.com",
          "self": true
         },
         "organizer": {
          "email": "dascsg@gmail.com",
          "self": true
         },
         "start": {
          "dateTime": "2020-04-13T08:00:00Z",
          "timeZone": "America/Denver"
         },
         "end": {
          "dateTime": "2020-04-13T09:00:00Z",
          "timeZone": "America/Denver"
         },
         "iCalUID": "cat7g1fi55b75j5ml987nehtrs@google.com",
         "sequence": 0,
         "reminders": {
          "useDefault": false,
          "overrides": [
           {
            "method": "email",
            "minutes": 1440
           },
           {
            "method": "popup",
            "minutes": 60
           },
           {
            "method": "popup",
            "minutes": 1440
           }
          ]
         }
        }
  recorded_at: Wed, 15 Apr 2020 16:31:50 GMT
[...]
